<h1 class="text-center"><%= @cocktail.name %></h1>
<div class="text-center">

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <% if @cocktail.photo? %>
        <%= cl_image_tag @cocktail.photo.path, width: 200, height: 300, crop: :fill %>
      <% else %>
        <%= simple_form_for @cocktail do |f| %>
          <%= f.input :photo, as: :attachinary %>
          <%= f.submit %>
        <% end %>
      <% end %>
      <% if @cocktail.doses.count > 0 %>
        <table class="table table-hover">
        <% @cocktail.doses.each do |dose| %>
         <% if dose.valid? %>
            <tr>
              <td><%= dose.description %><%= dose.ingredient.name %></td>
              <td>
                <%= link_to "Delete", cocktail_dose_path(@cocktail, dose), method: :delete, class: "btn btn-primary" %>
              </td>
            </tr>
          <% end %>
        <% end %>
        </table>
      <% end %>
    </div>
  </div>
</div>

<%= render 'doses/formadd_dose', cocktail: @cocktail, dose: @dose %>
<%= link_to "Back to cocktails list", cocktails_path %>


</div>
